*{
	box-sizing: border-box;
}

body{
	background-image: url(../images/asanoha-400px/asanoha-400px/asanoha-400px.png);
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

h1,h2,h3,{
	font-family: 'Georgia', Times, Times New Roman, serif;
	border-bottom: 2px solid #666666;
}

h1{
	font-size: 32px;
	background-color: #4aaaa5;
}

h2{
	font-size: 28px;
	color: #4aaaa5;
	margin-bottom: 15px;
	
}

h3{
	font-size: 24px;
	padding: 10px;
	color: #4aaaa5;
}

p{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: #777777;	
}

form{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: #777777;	
}

hr{
	color: #ccc;
    background: #ccc;
    width: 100%;
    height: 3px;
    margin-bottom: 15px;
}

.container{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

.container:after{
	content: "";
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
}

header{
	color: #777777;
	background-color: #ffffff;
	margin-bottom: 20px;
	line-height: 30px;
}

header:after{
	content: "";
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
}


#name{
	background-color: #4aaaa5;
	color: #ffffff;
	float: left;
	padding: 30px;
	margin-top: 50px;
	margin-left: 0;
}

.nav{
	float: right;
	padding-top: 20px;
	margin-top: 40px;
	margin-right: 0;
}

.link{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;	
	height: 50px;
	width: 300px;
	background-color: #ffffff;
	color: #777777;
	padding-left: 10px;
	text-decoration: none;
}

.link:hover{
	color: #4aaaa5;
}

.bio{
	clear: both;
	width: 650;
	float: left;
	margin-bottom: 20px;
	margin-left: 0;
	margin-right: 0;
	padding: 15px;
	background-color: #ffffff;
	border: 1px solid #dddddd;
}

#box{
	position: relative;
	float: left;
	margin-left: 0;
	width: 650px;
}

#pic{
	float: left;
	height: 250px;
	width: 200px;
	margin-right: 25px;

}

.contact{
	width: 650px;
	float: left;
	margin-bottom: 20px;
	margin-left: 0;
	margin-right: 0;
	padding: 15px;
	background-color: #ffffff;
	border: 1px solid #dddddd
}

input[type=text], select {
   	width: 615px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;	
}

input[type=submit] {
    width: 615px;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;	
}

.message{
	height: 200px;
	width: 615px;
	padding-left:0;
}


.portfolio{
	width: 650px;
	float: left;
	margin-bottom: 20px;
	margin-left: 0;
	margin-right: 0;
	padding: 20px;
	background-color: #ffffff;
	border: 1px solid #dddddd

}

.image{
	width: 300px;
	height: 300px;
	padding: 20px;
	float: left;
	position: relative;
}

.hangman{
	background-color: #4aaaa5;
	color: #ffffff;
	float: left;
	margin-top: 230px;
	margin-left: 20px;
	position: absolute;
	padding: 10px;
	width: 260px;
	text-align: center;
	font-family:font-family: 'Georgia', Times, Times New Roman, serif;;
	font-size: 24px;	
}

.rpg{
	background-color: #4aaaa5;
	color: #ffffff;
	float: left;
	margin-top: 231px;
	margin-left: 319px;
	position: absolute;
	padding: 10px;
	width: 260px;
	text-align: center;
	font-family:font-family: 'Georgia', Times, Times New Roman, serif;;
	font-size: 24px;	
}

.trivia{
	background-color: #4aaaa5;
	color: #ffffff;
	float: left;
	margin-top: 530px;
	margin-left: 20px;
	position: absolute;
	padding: 10px;
	width: 260px;
	text-align: center;
	font-family:font-family: 'Georgia', Times, Times New Roman, serif;;
	font-size: 24px;	
}

.rutgers{
	background-color: #4aaaa5;
	color: #ffffff;
	float: left;
	margin-top: 532px;
	margin-left: 319px;
	position: absolute;
	padding: 10px;
	width: 260px;
	text-align: center;
	font-family:font-family: 'Georgia', Times, Times New Roman, serif;;
	font-size: 22px;	
}

.rock{
	background-color: #4aaaa5;
	color: #ffffff;
	float: left;
	margin-top: 831px;
	margin-left: 20px;
	position: absolute;
	padding: 10px;
	width: 260px;
	text-align: center;
	font-family:font-family: 'Georgia', Times, Times New Roman, serif;;
	font-size: 22px;	
}
.connect{
	position: relative;
	float: right;
	text-align: center;
	margin-top: 0;
	top: 0;
	left: 45px;
	border: 1px solid #dddddd
}

#connect{
	height: 185px;
	width: 255px;
	background-color: #ffffff;
}

#git{
	height: 50px;
	width: 50px;
	padding: 5px;	
}

#linkd{
	height: 50px;
	width: 50px;
	padding: 5px;	
}

#stack{
	height: 50px;
	width: 50px;
	padding: 5px;	
}

footer{
	
	background-color: #666666;
	color: #ffffff;
	padding: 30px;
	text-align: center;
	line-height: 30px;
	margin-bottom: 0;
	border-top: 5px solid #4aaaa5;
}

